@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,600;1,700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html{
    /*permite deslizar cuando haga click en el link del menu*/
    scroll-behavior: smooth;

}

/* MENU */
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;

}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;

}

.contenedor-header header nav ul li a:hover{
    color: #1CB698;
}

.nav-responsive{
    background-color: #1CB698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;

}

/* Seccion que da inicio */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(https://img.freepik.com/vector-gratis/vida-contemporanea_1343-194.jpg?size=626&ext=jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 380px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1{
    margin-top: 30px;
    font-size: 35px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover{
    background-color: #1CB698;
}

.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;

}

.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;

}

.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;
}

.sobremi .fila{
    display: flex;
}

.sobremi .fila .col{
    width: 50%;
}

.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobremi .fila .col ul{
    list-style: none;
}

.sobremi .fila .col ul li{
    margin: 12px 0;
}

.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;
}

.sobremi .fila .col ul li span{
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;

}

.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252a2e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #1CB698;
}

.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay{
    width: 100%;
}


.skills{
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;

}

.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;

}

.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.skills .fila{
    display: flex;

}

.skills .fila .col{
    width: 50%;
    pad: 0 20px;
}

.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;

}

.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso{
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;

}

.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript{
    0%{width: 0%;}
    100%{width: 75%;}
}

/**/

.curriculum{
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;

}

.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;

}

.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.curriculum .fila{
    display: flex;

}

.curriculum button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.curriculum button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.curriculum button:hover .overlay{
    width: 100%;
}


/* .---------------------------------------------------------------------------------------------------------- */




@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #1f2022;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

.header{
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 120px 0;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #c2977a;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    color: #fff9fa;
    display: block;
    padding: 20px;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #c2977a;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    display: flex;
    justify-content: space-between;

}

.header-txt{
    flex-basis: 50%;
}

.header-txt h1{
    color: #fffff5;
    font-size: 55px;
    line-height: 1.2;
    margin-bottom: 30px;
}

p{
    font-size: 16px;
    color: #8e8f91;
}

.btn-1{
    display: inline-block;
    padding: 13px 35px;
    background-color: #ff7838;
    margin-top: 45px;
    color: #fffff5;
    font-size: 15px;
    border-radius: 25px;
    text-transform: uppercase;
}

.header-img{
    flex-basis: 50%;
    text-align: right;
}

.header-img img{
    width: 355px;
}

.about{
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}

.about-img{
    flex-basis: 50%;
    text-align: center;
}

.about-img img{
    width: 400px;
}

.about-txt {
    flex-basis: 50%;
}

.about-txt span{
    font-size: 25px;
    color: #c2977a;
    font-weight: 800;
}

h2{
    color: #fffff5;
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.food{
    padding: 50px 0 50px 0;
    text-align: center;
}

.food-content{
    margin: 50px 250px 0 250px;
}

.food-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.food-img{
    flex-basis: 70%;
}

.food-img img{
    border-radius: 25px;
    width: 550px;
}

.food-txt{
    flex-basis: 70%;
    text-align: left;
    margin-left: 30px;
}

.food-txt h3{
    color: #fffff5;
    font-size: 18px;
    margin-bottom: 10px;
}

.food-txt p{
    margin-bottom: 10px;
}

.food-txt span{
    font-size: 17px;
    color: #c2977a;
    font-weight: 800;
}

.products{
    padding: 0 0 100px 0;
    text-align: center;

}

.product-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    margin: 50px 0 20px 0;
}

.product-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    margin-bottom: 25px;
}

.footer{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #fffff54c;
}

.link h3{
    color: #fffff5;
    font-size: 17px;
    margin-bottom: 10px;

}

.link a{
    font-size: 16px;
    color: #8e8f91;
    display: block;
    margin-bottom: 10px;
}

.link a:hover{
    color: #c2977a;
}

@media (max-width:991px) {
    
    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100;
        left: 0;
        right: 0;
        background-color: #ff7838;
        display: none;
    }

    .menu .navbar ul li a:hover{
        color: #1f2022;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header{
        min-height: 0vh;
        padding: 100px 30px 30px 30px;
    }

    .header-content{
        flex-direction: column;
    }

    .header-txt{
        text-align: center;
        margin-bottom: 35px;
    }

    .header-img img{
        width: 100%;
    }

    .btn-1{
        margin-top: 25px;
    }

    .about{
        padding: 30px 30px 10px 30px;
        flex-direction: column;
        text-align: center;
    }    

    h2{
        margin-bottom: 15px;
    }

    .about-img{
        order: 2;
    }

    .about-img img{
        width: 50%;
    }

    .about-txt{
        margin-bottom: 25px;
    }

    .food{
        padding: 30px;
    }

    .food-content{
        margin: 30px 0 0 0;
    }

    .food-1{
        flex-direction: column;
    }

    .food-txt{
        text-align: center;
        margin: 10px 0 0 0;
    }

    .products{
        padding: 30px;
    }

    .product-1{
        column-gap: 10px;
        margin: 20px 0 10px 0;
    }

    .product-2{
        column-gap: 10px;
        margin: 10px;
    }

    .footer{
        margin-top: 30px;
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

}

.portafolio{
    background-color: #242b34;
    color: #fff;
    padding: 50px 20px;
}

.portafolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.portafolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.portafolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portafolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portafolio .galeria .proyecto .overlay{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.contacto{
    background-image: url(https://interfono.com/wp-content/uploads/Primer-contacto-con-el-cliente-700x466.jpg);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0; 
}

.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contacto .fila{
    display: flex;
}

.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252a2e;
    color: #fff;
    font-size: 18px
}


.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #131517;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #131517;
    position: relative;
    z-index: 10;
}

.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay{
    width: 100%;
}


/* ----------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: #0c1022;
    color: #fff;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a.active,
    .navbar a:hover{
    background: linear-gradient(
        45deg, #f06, #3cf
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 70px 10% 0;
}

.home-content{
    max-width: 500px;
    margin-left: -30px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.3s;
}

.btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    border-radius: 40px;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.8s;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg,
        #f06, #3cf, #f06);
    background-size: 200%;
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    filter: blur(5px);
    transition: .5s ease;
}

.btn:hover::before{
    background-position: 100% 0;
}


.btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg,
        #f06, #3cf, #f06);
    background-position: 0 0;   
    background-size: 200%;
    z-index: -1;
    border-radius: 40px;
    transition: .5s ease;
}

.btn:hover::after{
    background-position: 100% 0;
}

.home-sci a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg,
    #f06, #3cf, #f06);
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    z-index: 1;
}

.home-sci a:nth-child(1){
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 2.1s;
}

.home-sci a:nth-child(2){
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 2.1s;
}

.home-sci a:nth-child(3){
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2.1s;
}


.home-sci a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,
    #f06, #3cf, #f06);
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;
}

.home-sci a::before{
    filter: blur(5px);
}


.home-sci a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0c1022;
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1;
    transition: .5s ease;
}

.home-sci a:hover::after{
    transform: scale(0);
}

.home-img{
    width: 410px;
    height: 410px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage
    4s ease-in-out infinite;
    animation-delay: 2.1s, 3.1s;
}

.home-img .glowing-circle{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img .glowing-circle::after{
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: #0c1022;
    border-radius: 50%;
}

.glowing-circle span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f06, #3cf);
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}

.glowing-circle span:nth-child(1){
    filter: blur(10px);
}

.glowing-circle .image{
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}


.image img{ 
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 350px;
    object-fit: cover;
}

/*KYEFRAMES ANIMATION*/

@keyframes slideTop {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
       opacity: 1;
       transform: translateY(0); 
    }
}

@keyframes slideRight {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{
       opacity: 1;
       transform: translateX(0); 
    }
}

@keyframes slideLeft{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
       opacity: 1;
       transform: translateX(0); 
    }
}

@keyframes slideBottom {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }

    100%{
       opacity: 1;
       transform: translateY(0); 
    }
}

@keyframes zoomIn {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes circleRotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}